.header {
    &__body {
        display: flex;
        padding: 24px 0px;
        align-items: center;
        justify-content: space-between;
    }
    &__logo {
        a {
            display: flex;
            align-items: center;
        }
        span {
            margin-left: 11px;
            font-family: "Oxanium";
            font-weight: 600;
            font-size: 24px;
            line-height: 28px;
        }
    }
    &__nav{
        display: flex;
        column-gap: 28px;
        a{
            font-family: 'Montserrat';
            text-transform: uppercase;
            line-height: 20px;
            font-weight: 400;
        }
    }
    &__lang{
        cursor: pointer;
    }
}
